<script>
  import { DateInput } from "date-picker-svelte";
  import { updateTodoById, createTodo } from "../api";

  let DEFAULT_TODO_ITEM_STATE = {
    _id: "",
    title: "",
    description: "",
    deadline: new Date(),
    isDone: false,
  };

  export let isUpdateMode = false;
  export let todoItem = { ...DEFAULT_TODO_ITEM_STATE };

  async function addTodoToList() {
    await createTodo(todoItem);

    clearAllInputs();
  }

  function clearAllInputs() {
    todoItem = { ...DEFAULT_TODO_ITEM_STATE };
  }
</script>

<div>
  <div>
    <input bind:value={todoItem.title} type="text" placeholder="Title" />
    <input
      bind:value={todoItem.description}
      type="text"
      placeholder="Description"
    />
    <div class="date-picker">
      <DateInput bind:value={todoItem.deadline} />
    </div>
  </div>

  {#if !isUpdateMode && todoItem.title}
    <button on:click={addTodoToList}>Add</button>
  {/if}

  {#if isUpdateMode && todoItem.title}
    <div>
      <input bind:checked={todoItem.isDone} type="checkbox" />
      <span>isDone?</span>
    </div>

    <button on:click={updateTodoById(todoItem)}>Update</button>
  {/if}
</div>

<style>
  .date-picker {
    margin: 8px 0px;
  }
</style>