<script>
  import { todoListStore } from "../store";
  import Modal from "./Modal.svelte";
  import ModalBody from "./ModalBody.svelte";
  import { updateTodoById, getTodos, deleteTodoById } from "../api";

  let showModal = false;
  let todoItem = {
    _id: "",
    title: "",
    description: "",
    deadline: new Date(),
    isDone: false,
  };

  function toggleEditModal() {
    return (showModal = !showModal);
  }

  function openEditTodoItemModal(todo) {
    todoItem = { ...todo, deadline: new Date(todo.deadline) };
    toggleEditModal();
  }

  function handleCheckbox(todo) {
    updateTodoById({ _id: todo._id, isDone: (todo.isDone = !todo.isDone) });
  }

  $: remaining = $todoListStore.filter((todo) => !todo.isDone).length;
</script>

<div>
  <ul>
    {#each $todoListStore as todo, index (todo._id)}
      <li>
        <input
          bind:checked={todo.isDone}
          on:click={handleCheckbox(todo)}
          type="checkbox"
        />
        <span class:checked={todo.isDone}
          >{`${todo.title} ${todo.description} ${todo.deadline}`}</span
        >
        <button on:click={openEditTodoItemModal(todo)}>Edit</button>
        <button on:click={deleteTodoById(todo)}>Delete</button>
      </li>
    {/each}
  </ul>
</div>

<div>{JSON.stringify($todoListStore)}</div>

<p>{remaining} remaining</p>

{#if showModal}
  <Modal on:close={toggleEditModal}>
    <h2 slot="header">Edit Modal</h2>
    <ModalBody {todoItem} isUpdateMode={true} />
  </Modal>
{/if}

<style>
  ul {
    list-style: none;
  }

  .checked {
    text-decoration: line-through;
  }
</style>
