<script lang="ts">
  import { getTodos } from "./api";
  import { onMount } from "svelte";
  import TodoList from "./components/TodoList.svelte";
  import Modal from "./components/Modal.svelte";
  import ModalBody from "./components/ModalBody.svelte";

  let showModal = false;

  function toggle() {
    return (showModal = !showModal);
  }

  onMount(getTodos);
</script>

<main>
  <button on:click={toggle}> Create new todo </button>

  {#if showModal}
    <Modal on:close={toggle}>
      <h2 slot="header">Add Modal</h2>
      <ModalBody />
    </Modal>
  {/if}

  <TodoList />
</main>

<style lang="scss">
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      width: 300px;
    }
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>
